.input-repeater .action-remove {
    position: absolute;
    right: 25px;
    top: 7px;
    
}

.input-repeater .action-remove i {
    cursor: pointer;
}
.input-repeater .action-remove i:hover {
    color: #666;
}

.react-calendar.datepicker {
    opacity: 0;
    visibility: hidden;
    transition: all ease-out .1s;
}
.form-control[readonly] {
    background-color: #fff;
}