/* XL */
@media (min-width: 1400px) {
    .container {
        max-width: 1240px;
    }
    .build-resume-form .controls {
        display: none;
    }
}

/* LG */
@media (min-width: 1200px) {
    
}

/* MD */
@media (min-width: 992px) {
    
}

/* SM */
@media (min-width: 768px) {
    .modal-max-size {
        max-width: 1350px;
    }
}

/* XS */
@media (min-width: 544px) {
    
}



/* ============================================ */



/* XL */
@media (max-width: 1399px) {
   /* .resume-preview{
       display: none;
   } */
}

@media (max-width: 1279px) {
    .resume-preview{
        display: none;
    }
 }

/* LG */
@media (max-width: 1199px) {
    
}

/* MD */
@media (max-width: 991px) {
    
}

/* SM */
@media (max-width: 761px) {
    
}

/* XS */
@media (max-width: 543px) {
    
}