/* Aligments */
.center-xy {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 100% !important;
}
.center-y {
    display: flex;
    align-items: center;
    height: 100%;
}
.col-center {
	margin: 0 auto !important;
	float: none !important;
	display: block !important;
}
.d-table .vertical-center {
    display: table-cell;
    vertical-align: middle;
}

/* Typography */
.text-white {color: #fff;}
.text-uppercase {text-transform: uppercase}
.text-lowercase {text-transform: lowercase}
.text-capitalize {text-transform: capitalize}

/* Text Color */
.text-white {
    color: #fff;
}

/* Visibility */
.hidden {display:none;}