
.build-resume-container .row:first-of-type {
    height:'-webkit-fill-available'
}

.build-resume-form {
    height: 100vh;
    overflow-y: auto;
}

.build-resume {
    min-height: 50vh;
    padding-bottom: 50px;
}

.options .box {
    cursor: pointer;
    transition: all ease-out .2s;
}
.options .box:hover {
    transform: scale(1.1);
}

.resume-controls span {
    cursor: pointer;
    color: #000;
}
.resume-controls span:hover {
    color: #b41249;
}