

/* CUSTOM */
/* =================================== */
a {
  color: #b41249
}
a:hover {
  color: #ec407a;
  text-decoration: none;
}
section {
  padding: 50px 0px;
}

/* Utils */
.text-red {
  color: red;
}
.box {
  padding: 30px;
}
.box-1 {
  border: 1px solid #e9ecef6e;
  border-radius: 5px;
  background-color: #e9ecef6e;
}
.box-2 {
  border: 1px solid #e9ecee;
  border-radius: 5px;
}

/* React Calendar */
.react-calendar.datepicker {
  background: #fff;
  border: 1px solid #5eaaf7;
  font-size: 14px;
  width: 200px;
  padding: 5px 8px;
  margin-top: -4px;
  position: absolute;
  z-index: 1;
}
.react-calendar.datepicker .react-calendar__tile {
  padding: 0 5px;
  border-radius: 3px;
  margin: 5px 2px;
  -ms-flex-preferred-size: calc(25% - 4px) !important;
  flex-basis: calc(25% - 4px) !important;
}
.react-calendar.datepicker button {
  border: 0;
  cursor: pointer;
  line-height: 25px;
  outline: none;
  color: #333;
}
.react-calendar.datepicker .react-calendar__tile--active {
  color: #fff;
  font-weight: 600;
  transition: none;
}
.react-calendar.datepicker .react-calendar__navigation {
  height: auto;
  margin-bottom: 5px;
}
.react-calendar.datepicker .react-calendar__navigation button {
  min-width: 25px;
  background: none;
  border-radius: 3px;
  margin-right: 3px;
  margin-left: 3px;
}

/** OVERRIDE **/
/* Buttons */
.btn {
  border-radius: 2px;
}
.btn-primary,
.btn-primary:focus {
  background-color: #ec407a;
  border-color: #ec407a;
}
.btn-primary:hover,
.btn-primary:active,

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #b41249;
  border-color: #b41249;
}
.btn-outline-primary,
.btn-outline-primary:focus {
  border-color: #ec407a;
  background-color: transparent;
  color: #ec407a;
}
.btn-outline-primary:hover,

.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  background-color: #b41249;
  border-color: #b41249;
  color: #fff;
}
.btn.focus, .btn:focus,
.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show>.btn.dropdown-toggle:focus {
  box-shadow: none !important;
}

/* Text */
.text-primary {
  color: #ec407a !important;
}


/* DEFAULT */
/* =================================== */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}